<h1>
  Edit course plan #<%= @course_plan.id %>
</h1>

<hr>

<form action="/update_course_plan/<%= @course_plan.id %>" method="post">


  <button class="btn btn-block btn-outline-secondary">
    Update course plan
  </button>
</form>

<hr>

<a href="/course_plans">
  Go back
</a>
