<h1>
  Add a new course plan
</h1>


<hr>

<!-- Form course_plan start -->
<form action="/create_course_plan" method="post">
<!-- Form course_plan end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create course plan
  </button>
</form>

<hr>

<a href="/course_plans">
  Go back
</a>
