<!-- Form course_category start -->
<form action="/create_course_category_from_category" method="post">
<!-- Form course_category end -->

  <!-- Label and input for course_id start -->
  <div class="form-group">
    <label for="course_id">
      Course
    </label>

    <!-- Input for course_id start -->
    <input type="text" id="course_id" name="course_id" class="form-control" value="<%= @course_category.course_id %>">
    <!-- Input for course_id end -->
  </div>
  <!-- Label and input for course_id end -->

  <!-- Label and input for category_id start -->
  <!-- Input for category_id start -->
  <input type="hidden" name="category_id" value="<%= @category.id %>">
  <!-- Input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create course category
  </button>
</form>
