<h1>
  Add a new course category
</h1>


<hr>

<form action="/create_course_category" method="post">

  <div class="form-group">
    <label for="course_id">
      Course
    </label>

    <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :title, @course_category.course_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @course_category.category_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create course category
  </button>
</form>

<hr>

<a href="/course_categories">
  Go back
</a>
