<form action="/create_course_category_from_course" method="post">

  <input type="hidden" name="course_id" value="<%= @course.id %>">

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @course_category.category_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create course category
  </button>
</form>
