<form action="/create_course_concentration_from_course" method="post">

  <input type="hidden" name="course_id" value="<%= @course.id %>">

  <div class="form-group">
    <label for="concentration_id">
      Concentration
    </label>

    <%= select_tag(:concentration_id, options_from_collection_for_select(Concentration.all, :id, :name, @course_concentration.concentration_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create course concentration
  </button>
</form>
