<!-- Form course_category start -->
<form action="/create_course_category_from_course" method="post">
<!-- Form course_category end -->

  <!-- Label and input for course_id start -->
  <!-- Input for course_id start -->
  <input type="hidden" name="course_id" value="<%= @course.id %>">
  <!-- Input for course_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @course_category.category_id), :class => "form-control") %>
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create course category
  </button>
</form>
