<!-- Validation failure messages -->
<% if @course.present? %>
  <% if @course.errors.any? %>
    <% @course.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new course
</h1>


<hr>

<!-- Form course start -->
<form action="/create_course" method="post">
<!-- Form course end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control" value="<%= @course.title %>">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for number start -->
  <div class="form-group">
    <label for="number">
      Number
    </label>

    <!-- Input for number start -->
    <input type="text" id="number" name="number" class="form-control" value="<%= @course.number %>">
    <!-- Input for number end -->
  </div>
  <!-- Label and input for number end -->

  <!-- Label and input for unit start -->
  <div class="form-group">
    <label for="unit">
      Unit
    </label>

    <!-- Input for unit start -->
    <input type="text" id="unit" name="unit" class="form-control" value="<%= @course.unit %>">
    <!-- Input for unit end -->
  </div>
  <!-- Label and input for unit end -->

  <button class="btn btn-block btn-outline-secondary">
    Create course
  </button>
</form>

<hr>

<a href="/courses">
  Go back
</a>
