<form action="/create_course_concentration_from_concentration" method="post">

  <div class="form-group">
    <label for="course_id">
      Course
    </label>

    <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :title, @course_concentration.course_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="concentration_id" value="<%= @concentration.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create course concentration
  </button>
</form>
