<h1>
  Edit concentration #<%= @concentration.id %>
</h1>

<hr>

<form action="/update_concentration/<%= @concentration.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @concentration.name %>">
  </div>

  <div class="form-group">
    <label for="req_unit">
      Req unit
    </label>

    <input type="text" id="req_unit" name="req_unit" class="form-control" value="<%= @concentration.req_unit %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update concentration
  </button>
</form>

<hr>

<a href="/concentrations">
  Go back
</a>
